* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

#head, #search, #p_nav, #b_nav {
  width: 100%;
}

.container {
  width: 1163px;
  margin: 0 auto;
}

#head {
  height: 32px;
  background: #F2F2F2;
  overflow: hidden;
}

#head .container .left {
  float: left;
}

#head .container .left span {
  font-size: 12px;
  lineheight: 32px;
  color: #999999;
}

#head .container .left a {
  font-size: 12px;
  line-height: 32px;
  color: #EC3E7D;
  text-decoration: underline;
}

#head .container .right {
  float: right;
}

#head .container .right li {
  margin-top: 10px;
  font-size: 12px;
  float: left;
  padding-right: 22px;
}

#search .container {
  height: 75px;
  padding-top: 20px;
}

#search .container h1 {
  float: left;
}

#search .container section {
  float: left;
  margin-left: 216px;
}

#search .container section input {
  width: 340px;
  height: 32px;
  line-height: 32px;
  padding-left: 6px;
  outline: none;
  border: 2px solid #EC3E7D;
}

#search .container section button {
  border: none;
  background: #EC3E7D;
  color: #fff;
  width: 90px;
  height: 35px;
  border-top: 1px solid #EC3E7D;
  border-bottom: 1px solid #EC3E7D;
  position: relative;
  left: -8px;
}

#search .container section li {
  font-size: 12px;
  float: left;
  margin-right: 14px;
}

#search .container section li a {
  padding-right: 14px;
  border-right: 1px solid #999999;
  color: #999999;
}

#search .container section li:last-child a {
  border: none;
}

#search .container article {
  float: left;
  margin-left: 213px;
}

#search .container article span {
  display: block;
  width: 102px;
  height: 32px;
  font-size: 12px;
  line-height: 32px;
  text-align: center;
  background: #F5F5F5;
}

#p_nav .container {
  background: #EC3E7D;
  overflow: hidden;
  height: 44px;
}

#p_nav .container .left li {
  float: left;
  position: relative;
  margin-left: 12px;
}

#p_nav .container .left li a {
  font-size: 16px;
  display: block;
  color: #fff;
  padding: 14px 23px 15px 16px;
}

#p_nav .container .right {
  float: right;
  padding-right: 80px;
  line-height: 44px;
  color: #fff;
}

#p_nav .container .right span {
  font-size: 14px;
}

#b_nav .container {
  color: #fff;
  font-size: 14px;
  min-height: 42px;
  overflow: hidden;
  background: #222222;
}

#b_nav .container .tall_nav {
  width: 200px;
  height: 421px;
  position: absolute;
  top: 217px;
  z-index: 20;
  background: #F14382;
  float: left;
}

#b_nav .container .tall_nav li {
  position: relative;
  height: 53px;
}

#b_nav .container .tall_nav li:last-child {
  height: 50px;
}

#b_nav .container .tall_nav li a {
  color: #fff;
  line-height: 40px;
  margin-left: 60px;
}

#b_nav .container .tall_nav li span {
  float: right;
  margin-right: 30px;
  line-height: 40px;
}

#b_nav .container .tall_nav li ul {
  width: 300px;
  background: #fff;
  border: 1px solid #F14382;
  position: absolute;
  top: 0;
  left: 200px;
}

#b_nav .container .long_nav li {
  float: left;
}

#b_nav .container .long_nav li:first-child {
  margin-left: 60px;
  margin-right: 100px;
  line-height: 42px;
  color: #F5F5E8;
}

#b_nav .container .long_nav li a {
  display: block;
  padding: 15px 7px 15px 29px;
  color: #F5F5E8;
}

#banner {
  width: 100%;
  height: 421px;
  overflow: hidden;
  position: relative;
}

#banner ul {
  height: 100%;
}

#banner ul li {
  width: 100%;
  height: 100%;
}

#banner ul li img {
  width: 100%;
  height: 560px;
  display: block;
  position: absolute;
  top: 0;
}

#shoplistRight {
  width: 38px;
  height: 613px;
  background: #4C4C4C;
  padding-top: 130px;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
}

#shoplistRight a {
  display: block;
  width: 38px;
  height: 38px;
  color: #fff;
  text-align: center;
}

#shoplistRight a:nth-child(2) {
  height: 100px;
}

#shoplistRight a:nth-child(5) {
  margin-top: 140px;
}

#shoplistRight a:nth-child(7) {
  margin-top: 80px;
}

#b_nav .container .tall_nav {
  display: none;
}

.detailPage {
  background: #ebebeb;
  overflow: hidden;
}

.detailPage .container .address {
  height: 36px;
}

.detailPage .container .address a {
  font-size: 14px;
  color: #888888;
  line-height: 36px;
}

.detailPage .container .shopDetail {
  background: #fff;
  overflow: hidden;
}

.detailPage .container .shopDetail .left {
  width: 50%;
  float: left;
}

.detailPage .container .shopDetail .left .others {
  height: 100px;
}

.detailPage .container .shopDetail .left .midPic {
  width: 300px;
  position: relative;
  top: -23px;
  left: 83px;
}

.detailPage .container .shopDetail .left .midPic img {
  width: 300px;
  height: 300px;
  display: block;
}

.detailPage .container .shopDetail .left .smPic {
  height: 180px;
}

.detailPage .container .shopDetail .left .smPic img {
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
}

.detailPage .container .shopDetail .right {
  width: 47%;
  float: right;
  padding-left: 30px;
  padding-top: 20px;
}

.detailPage .container .shopDetail .right h2 {
  font-size: 22px;
  line-height: 1.2;
  padding-bottom: 30px;
  text-align: left;
  font-weight: normal;
}

.detailPage .container .shopDetail .right p {
  font-size: 18px;
  line-height: 26px;
  color: #3e3e3e;
}

.detailPage .container .shopDetail .right .span1 {
  display: block;
  width: 100px;
  height: 20px;
  border: 1px solid #c69a62;
  border-radius: 30px 30px 30px 30px;
  color: #c69a62;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.detailPage .container .shopDetail .right label {
  font-size: 12px;
}

.detailPage .container .shopDetail .right .butt {
  display: inline-block;
  background: #decddc;
  text-align: center;
  width: 20px;
  height: 20px;
}

.detailPage .container .shopDetail .right input {
  width: 15px;
  height: 15px;
  margin-bottom: 50px;
}

.detailPage .container .shopDetail .right .redWord {
  font-size: 38px;
  color: #ec3e7d;
}

.detailPage .container .shopDetail .right .buyin {
  display: inline-block;
  width: 220px;
  height: 50px;
  background: #ec3e7d;
  color: #fff;
  font-size: 22px;
  text-align: center;
  line-height: 50px;
  margin-right: 10px;
}

.detailPage .container .shopDetail .right .saoyisao {
  display: inline-block;
  width: 220px;
  height: 50px;
  color: #999999;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
  border: 1px solid #ccc;
  margin-top: 20px;
}

.detailPage .container .shopDetail .right .haoping {
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 30px;
}

.detailPage .container .shopDetail .right hr {
  margin-right: 30px;
  margin-bottom: 30px;
}
