* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

#head, #search, #p_nav, #b_nav {
  width: 100%;
}

.container {
  width: 1163px;
  margin: 0 auto;
}

#head {
  height: 32px;
  background: #F2F2F2;
  overflow: hidden;
}

#head .container .left {
  float: left;
}

#head .container .left span {
  font-size: 12px;
  lineheight: 32px;
  color: #999999;
}

#head .container .left a {
  font-size: 12px;
  line-height: 32px;
  color: #EC3E7D;
  text-decoration: underline;
}

#head .container .right {
  float: right;
}

#head .container .right li {
  margin-top: 10px;
  font-size: 12px;
  float: left;
  padding-right: 22px;
}

#search .container {
  height: 75px;
  padding-top: 20px;
}

#search .container h1 {
  float: left;
}

#search .container section {
  float: left;
  margin-left: 216px;
}

#search .container section input {
  width: 340px;
  height: 32px;
  line-height: 32px;
  padding-left: 6px;
  outline: none;
  border: 2px solid #EC3E7D;
}

#search .container section button {
  border: none;
  background: #EC3E7D;
  color: #fff;
  width: 90px;
  height: 35px;
  border-top: 1px solid #EC3E7D;
  border-bottom: 1px solid #EC3E7D;
  position: relative;
  left: -8px;
}

#search .container section li {
  font-size: 12px;
  float: left;
  margin-right: 14px;
}

#search .container section li a {
  padding-right: 14px;
  border-right: 1px solid #999999;
  color: #999999;
}

#search .container section li:last-child a {
  border: none;
}

#search .container article {
  float: left;
  margin-left: 213px;
}

#search .container article span {
  display: block;
  width: 102px;
  height: 32px;
  font-size: 12px;
  line-height: 32px;
  text-align: center;
  background: #F5F5F5;
}

#p_nav .container {
  background: #EC3E7D;
  overflow: hidden;
  height: 44px;
}

#p_nav .container .left li {
  float: left;
  position: relative;
  margin-left: 12px;
}

#p_nav .container .left li a {
  font-size: 16px;
  display: block;
  color: #fff;
  padding: 14px 23px 15px 16px;
}

#p_nav .container .right {
  float: right;
  padding-right: 80px;
  line-height: 44px;
  color: #fff;
}

#p_nav .container .right span {
  font-size: 14px;
}

#b_nav .container {
  color: #fff;
  font-size: 14px;
  min-height: 42px;
  overflow: hidden;
  background: #222222;
}

#b_nav .container .tall_nav {
  width: 200px;
  height: 421px;
  position: absolute;
  top: 217px;
  z-index: 20;
  background: #F14382;
  float: left;
}

#b_nav .container .tall_nav li {
  position: relative;
  height: 53px;
}

#b_nav .container .tall_nav li:last-child {
  height: 50px;
}

#b_nav .container .tall_nav li a {
  color: #fff;
  line-height: 40px;
  margin-left: 60px;
}

#b_nav .container .tall_nav li span {
  float: right;
  margin-right: 30px;
  line-height: 40px;
}

#b_nav .container .tall_nav li ul {
  width: 300px;
  background: #fff;
  border: 1px solid #F14382;
  position: absolute;
  top: 0;
  left: 200px;
}

#b_nav .container .long_nav li {
  float: left;
}

#b_nav .container .long_nav li:first-child {
  margin-left: 60px;
  margin-right: 100px;
  line-height: 42px;
  color: #F5F5E8;
}

#b_nav .container .long_nav li a {
  display: block;
  padding: 15px 7px 15px 29px;
  color: #F5F5E8;
}

#banner {
  width: 100%;
  height: 421px;
  overflow: hidden;
  position: relative;
}

#banner ul {
  height: 100%;
}

#banner ul li {
  width: 100%;
  height: 100%;
}

#banner ul li img {
  width: 100%;
  height: 560px;
  display: block;
  position: absolute;
  top: 0;
}

#shoplistRight {
  width: 38px;
  height: 613px;
  background: #4C4C4C;
  padding-top: 130px;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
}

#shoplistRight a {
  display: block;
  width: 20px;
  height: 38px;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  font-size: 12px;
  line-height: 18px;
  cursor: pointer;
}

#shoplistRight a:nth-child(2) {
  height: 100px;
}

#shoplistRight a:nth-child(5) {
  margin-top: 140px;
}

#shoplistRight a:nth-child(7) {
  margin-top: 80px;
}

#shoplistRight .shoppingcartLink {
  cursor: pointer;
}

#shoplistRight i {
  color: #c69a62;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

#foot {
  width: 100%;
}

#foot .container #links {
  overflow: hidden;
}

#foot .container #links .top {
  height: 150px;
  padding-top: 50px;
}

#foot .container #links .top li {
  margin-left: 60px;
  margin-right: 60px;
  float: left;
  position: relative;
}

#foot .container #links .top li i {
  color: #ec3e7d;
  font-size: 40px;
  position: absolute;
  top: 2px;
  left: -51px;
}

#foot .container #links .top li p {
  font-size: 20px;
  line-height: 30px;
}

#foot .container #links .top li p:nth-child(3) {
  font-size: 13px;
  color: #828282;
}

#foot .container #links .left {
  width: 65%;
  float: left;
}

#foot .container #links .left > ul > li {
  float: left;
  margin-right: 85px;
}

#foot .container #links .left > ul > li ul p {
  font-size: 14px;
  font-weight: bold;
}

#foot .container #links .left > ul > li ul li {
  font-size: 12px;
  color: #828282;
  margin-top: 10px;
}

#foot .container #links .right {
  width: 35%;
  float: left;
  overflow: hidden;
}

#foot .container #links .right div {
  float: left;
}

#foot .container #links .right div img {
  width: 100%;
}

#foot .bottom_b {
  background: #000;
  padding-bottom: 25px;
}

#foot .bottom_b .container ul {
  overflow: hidden;
}

#foot .bottom_b .container ul li {
  float: left;
  padding-top: 25px;
}

#foot .bottom_b .container ul li a {
  color: #fff;
  font-size: 12px;
  padding-right: 8px;
}

#foot .bottom_b .container p {
  color: #fff;
  font-size: 12px;
  margin-top: 25px;
}

#b_nav .container .tall_nav {
  display: none;
}

.banner img {
  display: block;
  width: 100%;
}

.allshoplist {
  padding-top: 50px;
  background: #efeefe;
  padding-bottom: 50px;
  overflow: hidden;
}

.allshoplist .container .title img {
  width: 100%;
  display: block;
}

.allshoplist .container .goods {
  width: 22%;
  height: 482px;
  background: #fff;
  margin-top: 30px;
  margin-right: 30px;
  float: left;
}

.allshoplist .container .goods img {
  width: 100%;
  height: 253px;
  display: block;
}

.allshoplist .container .goods div {
  border-top: 1px solid #ccc;
  padding-left: 20px;
}

.allshoplist .container .goods div:nth-of-type(1) {
  height: 48px;
}

.allshoplist .container .goods div:nth-of-type(1) span {
  line-height: 48px;
}

.allshoplist .container .goods div:nth-of-type(1) span:nth-of-type(1) {
  font-size: 28px;
  color: #ec3e7d;
}

.allshoplist .container .goods div:nth-of-type(1) span:nth-of-type(2) {
  color: #858587;
}

.allshoplist .container .goods div:nth-of-type(1) span:nth-of-type(3) {
  color: #c69a62;
  float: right;
  margin-right: 10px;
}

.allshoplist .container .goods div:nth-of-type(2) {
  padding-top: 10px;
}

.allshoplist .container .goods div:nth-of-type(2) p {
  font-size: 14px;
  color: #3e3e3e;
  line-height: 20px;
}

.allshoplist .container .goods div:nth-of-type(2) p:nth-of-type(1) span {
  color: #c69a62;
}

.allshoplist .container .goods div:nth-of-type(2) p:nth-of-type(3) {
  margin-top: 14px;
}

.allshoplist .container .goods div:nth-of-type(2) p:nth-of-type(4) {
  margin-top: 8px;
  color: #B9B9B9;
}

.allshoplist .container .goods .add_btn {
  display: inline-block;
  width: 224px;
  height: 45px;
  background: #ec3e7d;
  color: #fff;
  text-align: center;
  line-height: 45px;
  margin-left: 16px;
  margin-top: 10px;
  opacity: 0;
  cursor: pointer;
}
