* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

#head, #search, #p_nav, #b_nav {
  width: 100%;
}

.container {
  width: 1163px;
  margin: 0 auto;
}

#head {
  height: 32px;
  background: #F2F2F2;
  overflow: hidden;
}

#head .container .left {
  float: left;
}

#head .container .left span {
  font-size: 12px;
  lineheight: 32px;
  color: #999999;
}

#head .container .left a {
  font-size: 12px;
  line-height: 32px;
  color: #EC3E7D;
  text-decoration: underline;
}

#head .container .right {
  float: right;
}

#head .container .right li {
  margin-top: 10px;
  font-size: 12px;
  float: left;
  padding-right: 22px;
}

#search .container {
  height: 75px;
  padding-top: 20px;
}

#search .container h1 {
  float: left;
}

#search .container section {
  float: left;
  margin-left: 216px;
}

#search .container section input {
  width: 340px;
  height: 32px;
  line-height: 32px;
  padding-left: 6px;
  outline: none;
  border: 2px solid #EC3E7D;
}

#search .container section button {
  border: none;
  background: #EC3E7D;
  color: #fff;
  width: 90px;
  height: 35px;
  border-top: 1px solid #EC3E7D;
  border-bottom: 1px solid #EC3E7D;
  position: relative;
  left: -8px;
}

#search .container section li {
  font-size: 12px;
  float: left;
  margin-right: 14px;
}

#search .container section li a {
  padding-right: 14px;
  border-right: 1px solid #999999;
  color: #999999;
}

#search .container section li:last-child a {
  border: none;
}

#search .container article {
  float: left;
  margin-left: 213px;
}

#search .container article span {
  display: block;
  width: 102px;
  height: 32px;
  font-size: 12px;
  line-height: 32px;
  text-align: center;
  background: #F5F5F5;
}

#p_nav .container {
  background: #EC3E7D;
  overflow: hidden;
  height: 44px;
}

#p_nav .container .left li {
  float: left;
  position: relative;
  margin-left: 12px;
}

#p_nav .container .left li a {
  font-size: 16px;
  display: block;
  color: #fff;
  padding: 14px 23px 15px 16px;
}

#p_nav .container .right {
  float: right;
  padding-right: 80px;
  line-height: 44px;
  color: #fff;
}

#p_nav .container .right span {
  font-size: 14px;
}

#b_nav .container {
  color: #fff;
  font-size: 14px;
  min-height: 42px;
  overflow: hidden;
  background: #222222;
}

#b_nav .container .tall_nav {
  width: 200px;
  height: 421px;
  position: absolute;
  top: 217px;
  z-index: 20;
  background: #F14382;
  float: left;
}

#b_nav .container .tall_nav li {
  position: relative;
  height: 53px;
}

#b_nav .container .tall_nav li:last-child {
  height: 50px;
}

#b_nav .container .tall_nav li a {
  color: #fff;
  line-height: 40px;
  margin-left: 60px;
}

#b_nav .container .tall_nav li span {
  float: right;
  margin-right: 30px;
  line-height: 40px;
}

#b_nav .container .tall_nav li ul {
  width: 300px;
  background: #fff;
  border: 1px solid #F14382;
  position: absolute;
  top: 0;
  left: 200px;
}

#b_nav .container .long_nav li {
  float: left;
}

#b_nav .container .long_nav li:first-child {
  margin-left: 60px;
  margin-right: 100px;
  line-height: 42px;
  color: #F5F5E8;
}

#b_nav .container .long_nav li a {
  display: block;
  padding: 15px 7px 15px 29px;
  color: #F5F5E8;
}

#banner {
  width: 100%;
  height: 421px;
  overflow: hidden;
  position: relative;
}

#banner ul {
  height: 100%;
}

#banner ul li {
  width: 100%;
  height: 100%;
}

#banner ul li img {
  width: 100%;
  height: 560px;
  display: block;
  position: absolute;
  top: 0;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

#head, #search, #p_nav, #b_nav {
  width: 100%;
}

.container {
  width: 1163px;
  margin: 0 auto;
}

#head {
  height: 32px;
  background: #F2F2F2;
  overflow: hidden;
}

#head .container .left {
  float: left;
}

#head .container .left span {
  font-size: 12px;
  lineheight: 32px;
  color: #999999;
}

#head .container .left a {
  font-size: 12px;
  line-height: 32px;
  color: #EC3E7D;
  text-decoration: underline;
}

#head .container .right {
  float: right;
}

#head .container .right li {
  margin-top: 10px;
  font-size: 12px;
  float: left;
  padding-right: 22px;
}

#search .container {
  height: 75px;
  padding-top: 20px;
}

#search .container h1 {
  float: left;
}

#search .container section {
  float: left;
  margin-left: 216px;
}

#search .container section input {
  width: 340px;
  height: 32px;
  line-height: 32px;
  padding-left: 6px;
  outline: none;
  border: 2px solid #EC3E7D;
}

#search .container section button {
  border: none;
  background: #EC3E7D;
  color: #fff;
  width: 90px;
  height: 35px;
  border-top: 1px solid #EC3E7D;
  border-bottom: 1px solid #EC3E7D;
  position: relative;
  left: -8px;
}

#search .container section li {
  font-size: 12px;
  float: left;
  margin-right: 14px;
}

#search .container section li a {
  padding-right: 14px;
  border-right: 1px solid #999999;
  color: #999999;
}

#search .container section li:last-child a {
  border: none;
}

#search .container article {
  float: left;
  margin-left: 213px;
}

#search .container article span {
  display: block;
  width: 102px;
  height: 32px;
  font-size: 12px;
  line-height: 32px;
  text-align: center;
  background: #F5F5F5;
}

#p_nav .container {
  background: #EC3E7D;
  overflow: hidden;
  height: 44px;
}

#p_nav .container .left li {
  float: left;
  position: relative;
  margin-left: 12px;
}

#p_nav .container .left li a {
  font-size: 16px;
  display: block;
  color: #fff;
  padding: 14px 23px 15px 16px;
}

#p_nav .container .right {
  float: right;
  padding-right: 80px;
  line-height: 44px;
  color: #fff;
}

#p_nav .container .right span {
  font-size: 14px;
}

#b_nav .container {
  color: #fff;
  font-size: 14px;
  min-height: 42px;
  overflow: hidden;
  background: #222222;
}

#b_nav .container .tall_nav {
  width: 200px;
  height: 421px;
  position: absolute;
  top: 217px;
  z-index: 20;
  background: #F14382;
  float: left;
}

#b_nav .container .tall_nav li {
  position: relative;
  height: 53px;
}

#b_nav .container .tall_nav li:last-child {
  height: 50px;
}

#b_nav .container .tall_nav li a {
  color: #fff;
  line-height: 40px;
  margin-left: 60px;
}

#b_nav .container .tall_nav li span {
  float: right;
  margin-right: 30px;
  line-height: 40px;
}

#b_nav .container .tall_nav li ul {
  width: 300px;
  background: #fff;
  border: 1px solid #F14382;
  position: absolute;
  top: 0;
  left: 200px;
}

#b_nav .container .long_nav li {
  float: left;
}

#b_nav .container .long_nav li:first-child {
  margin-left: 60px;
  margin-right: 100px;
  line-height: 42px;
  color: #F5F5E8;
}

#b_nav .container .long_nav li a {
  display: block;
  padding: 15px 7px 15px 29px;
  color: #F5F5E8;
}

#banner {
  width: 100%;
  height: 421px;
  overflow: hidden;
  position: relative;
}

#banner ul {
  height: 100%;
}

#banner ul li {
  width: 100%;
  height: 100%;
}

#banner ul li img {
  width: 100%;
  height: 560px;
  display: block;
  position: absolute;
  top: 0;
}

article {
  width: 100%;
  overflow: hidden;
}

article .container .logo {
  padding-top: 20px;
  height: 123px;
}

article .container .left {
  float: left;
  width: 50%;
}

article .container .left img {
  width: 100%;
  display: block;
}

article .container .right {
  float: left;
  width: 46%;
  height: 439px;
  padding-left: 40px;
  padding-top: 30px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 3px 1px #ccc;
}

article .container .right .title {
  font-size: 22px;
  margin-bottom: 14px;
}

article .container .right .title span {
  font-size: 12px;
}

article .container .right .title span:nth-child(1) {
  margin-left: 230px;
}

article .container .right .title span:nth-child(2) {
  color: #EC3E7D;
}

article .container .right form input {
  width: 480px;
  height: 36px;
  margin-top: 26px;
  padding-left: 2px;
}

article .container .right form .check {
  width: 14px;
  height: 14px;
  margin-right: 14px;
}

article .container .right form > span, article .container .right form a {
  font-size: 12px;
  margin-right: 20px;
}

article .container .right form #btn {
  display: block;
  width: 480px;
  height: 40px;
  margin-top: 40px;
  background: #EC3E7D;
  outline: none;
  border: none;
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
}

footer .container {
  height: 66px;
}

footer .container p {
  font-size: 12px;
  line-height: 66px;
  color: #A2A3A5;
}

footer .container p span {
  margin-left: 650px;
}

form .other_login ul {
  padding-top: 40px;
}

form .other_login ul li {
  float: left;
  margin-left: 30px;
}

form .other_login ul li a {
  display: block;
  height: 24px;
  color: #222;
}

form .other_login ul li a img {
  margin-right: 10px;
}
