$bigWidth:1163px;
$fontSize:12px;
// 灰色字体
$color:#999999;
$position:right;
$paddingRight:22px;
*{padding:0;margin:0}
a{text-decoration:none;}
ul{list-style:none;};
.container{$bigWidth:1163px;}