@import 'forgetPassword';

form{
	#phoneAuth{
		width:20px;
		height:15px;
		background:#ccc;
		margin-right:5px;
	}
	#authCode{
		width:100px;
	}
	img{
		width:80px;
	}
	#num{
		font-size:16px;
		line-height:58px;
	}
	#gainAuth{
		display:inline-block;
		width:120px;
		height:36px;
		float:right;
		background:#EC3E7D;
		color:#fff;
		line-height:36px;
		text-align:center;
		margin-right:50px;
	}
	#upupup{
		margin-top:0px;
	}
	#button{
		margin-top:26px;
	}
}