@import 'forgetPassword';

.finish{
	padding-top:150px;
	i{
		display:inline-block;
		width:30px;
		height:30px;
		border-radius:50%;
		background:#0c0;
		position:absolute;
	}
	p{
		color:#bbb;
		margin-left:40px;
		font-weight:bold;
	}
	a{
		color:#EC3E7D;
		margin-left:40px;
		text-decoration:underline;
	}
}